@import '../utils/colors', '../utils/global_vars';

#projects{
    text-align: center;

    .projects-title{
        background-color: $primary-color;
        color: $white;
        padding: 30px;
    }

    .projects-card{
        background-color: $white;
        border-radius: 20px;
        box-shadow: $box-shadow;
        padding: 30px;
        max-width: 700px;
        width: 80%;
        margin: 30px auto;

        .projects-image{
            border-radius: 20px;
            width: 100%;
        }

        .projects-description{
            margin: 40px;
        }

        .projects-link{
            background-color: $primary-color;
            text-decoration: none;
            padding: 10px 50px;
            color: $white;
            border-radius: 20px;
        }
        .projects-link:hover{
            background-color: $primary-color-accent;
        }
        .projects-link:active{
            background-color: $white;
            color: $primary-color;
            border: 1px solid $primary-color;
        }
    }
}