@import '../utils/colors', '../utils/global_vars';

.projects{
    padding: 20px 20px 40px 20px;
    box-shadow: $box-shadow-light;
    text-align: center;

    .projects-card{
        background-color: $white;
        border-radius: 20px;
        box-shadow: $box-shadow;
        padding: 30px;
        max-width: 700px;
        margin: auto;

        .projects-image{
            border-radius: 20px;
            width: 100%;
        }

        .projects-link{
            background-color: $primary-color;
            text-decoration: none;
            padding: 10px 50px;
            color: $white;
            border-radius: 20px;
        }
        .projects-link:hover{
            background-color: $primary-color-accent;
        }
        .projects-link:active{
            background-color: $white;
            color: $primary-color;
            border: 1px solid $primary-color;
        }
    }
}