@import '../utils/colors', '../utils/global_vars';

#hero{
    height: 600px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

    @include mobile{
        flex-direction: column;
    }

    .hero-background{
        width: 90%;
        max-width: 500px;
    }
    
    .hero-text{
        align-items: center;
        color: $primary-color;
        text-align: start;
        margin-bottom: 100px;

        @include mobile{
            margin-bottom: 0;
            text-align: center;
        }
        
        .name{
            font-size: 60px;
        }
        .hero-message{
            font-weight: 300;
            color: #000;
        }
    }
}

