@import '../utils/global_vars';

.about{
    padding: 20px 20px 40px 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: $box-shadow-light;
    
    .about-message{
        line-height: 250%;
        width: 90%;
        max-width: 800px;
        margin: auto;
    }
}