@import '../utils/global_vars';

#nav-bar{
    transition: top 0.3s;
    position: sticky;
    top: 0;
    margin: auto;
    max-width: 1200px;
    font-size: medium;
    padding: 15px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
}