@import '../utils/colors', '../utils/global_vars';

#navbar{
    box-shadow: $box-shadow;
    background-color: $primary-color;
    position: sticky;
    color: $white;
    transition: top 0.3s;

    .navbar-container{
        top: 0;
        margin: auto;
        max-width: 1200px;
        font-size: medium;
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
    
        .navbar-item{
            text-transform: capitalize;
    
            a{
                text-decoration: none;
                color: inherit;
            }
        }
    
        .navbar-item:hover{
            cursor: pointer;
        }
    
        .hero-main a#nav-hero{
            background-color: #EEEEEE;
        }
    
        .active{
            border-bottom: 1px solid $white;
        }
    }
}