@import '../utils/global_vars';

#navbar{
    transition: top 0.3s;
    position: sticky;
    top: 0;
    margin: auto;
    max-width: 1200px;
    font-size: medium;
    padding: 15px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;

    .navbar-item{
        text-transform: capitalize;

        a{
            text-decoration: none;
            color: inherit;
        }
    }

    .navbar-item:hover{
        cursor: pointer;
    }

    .hero-main a#nav-hero{
        background-color: #EEEEEE;
    }

    .active{
        border-bottom: 1px solid #333;
    }
}